<!doctype html>
<html>
  <head>
    <title>TreeStats</title>
    <link rel="stylesheet" href="/styles/treestats.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">TreeStats</a></h1>
      <ul>
        <li><a href="/servers">Servers</a></li>
        <li><a href="/characters">Characters</a></li>
      </ul>
    </header>
    <content>
      <%= content %>
    </content>
  </body>
</html>
